{% extends "massage/includes.html" %}
{% block title %}
BALANCE SHEET
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
The Companys Balance Sheet
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts%}

{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <p>Report Period</p>
                <form class="needs-validation" novalidate autocomplete="off" method="POST" action="{% url 'balancesheet' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="startdate" class="form-control" required placeholder="Starting date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Starting Date!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="enddate" class="form-control" required placeholder="End date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input End Date!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="text-center">
            <h3>Tranquil Touch Massage</h3>
            <p><strong>Balance Sheet</strong></p>
            {% if Startdate is None %}
            {% for x in current_assets %}
            {% if forloop.first %}
            <p>Journal # {{x.journalid.id}} Date: {{x.journalid.datecreated}}</p>
            {%endif%}
            {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
        </div>
        {% if Currentassets %}
        <table style="width: 100%;" class="table table-sm table-hover table-striped" role="grid">
            <thead>
                <tr role="row">
                    <th>
                        <h3><strong>Assets</strong></h3>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr role="row">
                    <th>Current Assets</th>
                </tr>
            </thead>
            <tbody id="assetsbody">
            {% for x in Currentassets %}
            
                <tr>
                    <td>{{x.name}}</td>
                    <td>${{x.total}}</td>
                    <td colspan="" rowspan="" headers=""></td>
                </tr>
            {% empty %}
            <tr>
                    <td>N/A</td>
                    <td>$0</td>
                    <td colspan="" rowspan="" headers=""></td>
            </tr>
            {% endfor %}

            <tr role="row" class="odd" style="border-top: dashed;">
                <td tabindex="0" class="sorting_1"><strong>Total Current Assets</strong></td>
                <td >${{Currentassetstotals}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>
            </tbody>

            <thead>
                <tr role="row">
                    <th><br></th>
                    <th><br></th>
                    <th></th>
                </tr>
                <tr role="row">
                    <th>Long Term Assets</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="longtermbody">
            {% for x in Noncurrentassets %}
            
                <tr>
                    <td>{{x.name}}</td>
                    <td>${{x.total}}</td>
                    <td colspan="" rowspan="" headers=""></td>
                </tr>
            {% empty %}
            <tr>
                    <td>N/A</td>
                    <td>$0</td>
                    <td colspan="" rowspan="" headers=""></td>
            </tr>
            {% endfor %}

            <tr role="row" class="odd" style="border-top: dashed;">
                <td tabindex="0" class="sorting_1"><strong>Total Long-Term Assets</strong></td>
                <td>${{Noncurrentassetstotals}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>

            <tr role="row" class="odd" style="border-top: dashed; border-bottom: double;">
                <td tabindex="0" class="sorting_1"><strong>Total Assets</strong></td>
                <td >${{totalasset}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>

            </tbody>
            
            <thead>
                <tr role="row">
                    <th>
                        <h3><strong>Liabilities</strong></h3>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr role="row">
                    <th>Current Liabilities</th>
                </tr>
            </thead>
            <tbody id="currentliabilitiesbody">
        {% for x in Currentliabilities %}
               
                <tr>
                    <td>{{x.name}}</td>
                    <td>${{x.total}}</td>
                    <td colspan="" rowspan="" headers=""></td>
                </tr>
            {% empty %}
            <tr>
                    <td>N/A</td>
                    <td>$0</td>
                    <td colspan="" rowspan="" headers=""></td>
            </tr>
            {% endfor %}

            <tr role="row" class="odd" style="border-top: dashed;">
                <td tabindex="0" class="sorting_1"><strong>Current Liabilites Total</strong></td>
                <td>${{Currentliabilitiestotals}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>
            </tbody>
          
            <thead>
                <tr role="row">
                    <th><br></th>
                    <th><br></th>
                    <th></th>
                </tr>
                <tr role="row">
                    <th>Non current Liabilities</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="noncurrentliabilitiesbody">

                  {% for x in Noncurrentliabilities %}
               
                <tr>
                    <td>{{x.name}}</td>
                    <td>${{x.total}}</td>
                    <td colspan="" rowspan="" headers=""></td>
                </tr>
            {% empty %}
            <tr>
                    <td>N/A</td>
                    <td>$0</td>
                    <td colspan="" rowspan="" headers=""></td>
            </tr>
            {% endfor %}

            <tr role="row" class="odd" style="border-top: dashed;">
                <td tabindex="0" class="sorting_1"><strong>Non Current Liabilites Total</strong></td>
                <td>${{Noncurrentliabilitiestotals}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>

             <tr role="row" class="odd" style="border-top: dashed; border-bottom: double;">
                <td tabindex="0" class="sorting_1"><strong>Total Liabilities</strong></td>
                <td >${{totalliabilities}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>
            </tbody>
           
            <thead>
                <tr role="row">
                    <th>
                        <h3><strong>Share Holders Equity</strong></h3>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="equitybody">

                  {% for x in Ownersequity %}
               
                <tr>
                    <td>{{x.name}}</td>
                    <td>${{x.total}}</td>
                    <td colspan="" rowspan="" headers=""></td>
                </tr>
            {% empty %}
            <tr>
                    <td>N/A</td>
                    <td>$0</td>
                    <td colspan="" rowspan="" headers=""></td>
            </tr>
            {% endfor %}

             <tr role="row" class="odd" style="border-top: dashed;">
                <td tabindex="0" class="sorting_1"><strong>Owner's Equity Total</strong></td>
                <td >${{Ownersequitytotals}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>

                <tr role="row" class="odd" style="border-top: dashed; border-bottom: double;">
                <td tabindex="0" class="sorting_1"><strong>Owners Equity & Liabilites Total</strong></td>
                <td >${{totalliabilitesandequity}}</td>
                <td colspan="" rowspan="" headers=""></td>
            </tr>

            </tbody>
            <tbody id="check">
            </tbody>
        </table>
        {% else %}
        <h1 class="text-center">NO DATA TO SHOW</h1>
        {% endif %}
    </div>
</div>
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}