{% extends "massage/includes.html" %}
{% block title %}
Chart of Accounts
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
Chart of Accounts
{% endblock %}
{% block reportsbtn %}
<div class="row ml-5">
    <ul class="header-menu nav">
        <li class="btn-group nav-item">
            <a href="javascript:void(0);" onclick="addaccount();" class="nav-link">
                <i class="nav-link-icon fa fa-plus-circle icon-gradient bg-happy-itmeo"></i>
                New Account
            </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $.ajaxSetup({
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    });

    `{% for x in chart %}`
    $('#chartofaccs > tbody:last-child').append(
        `<tr>
                    <td id="num{{x.id}}">{{x.account_number}}</td>
                    <td id="name{{x.id}}">{{x.account_name}}</td>
                    <td id="type{{x.id}}">{{x.account_type}}</td>
                    <td id="detail{{x.id}}">{{x.account_detailtype}}</td>
                    <td id="bal{{x.id}}">$ {{x.account_debbalance}}</td>
                    <td id="bal{{x.id}}">$ {{x.account_credbalance}}</td>
                    </tr>`
    );
    `{% endfor %}`




});


function addaccount() {
    Swal.fire({
        title: 'Add Account',
        html: 
            `<input id="accnum" min="1" type="number" placeholder="Account Number" class="swal2-input">
             <input id="accname"  type="text" placeholder="Account Name" class="swal2-input">
             <select class="form-control" id="type">
             <option value="">SELECT TYPE</option>
             <option value="Current assets">Current assets</option>
             <option value="Fixed assets">Fixed assets</option>
             <option value="Non-current assets">Non-current assets</option>
             <option value="Current liabilities">Current liabilities</option>
             <option value="Non-current liabilities">Non-current liabilities</option>
             <option value="Owner's equity">Owner's equity</option>
             <option value="Expenses">Expenses</option>
             <option value="Income">Income</option>
             </select>
             <input type="text" placeholder="Detail Type" class="swal2-input" id="detailed">`,
        focusConfirm: false,
        showCancelButton: true,
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        confirmButtonText: "INSERT",

        preConfirm: () => {


            if (document.getElementById('accnum').value && 
                document.getElementById('accname').value &&
                document.getElementById('type').value && 
                document.getElementById('detailed').value) {

                if(
                    !$("#accnum").val() < 200 && 
                    !$("#accnum").val() > 1 && 
                    (
                        $("#type").val() != 'Current assets' || 
                        $("#type").val() != 'Fixed assets' || 
                        $("#type").val() != 'Non-current assets')
                    )
                {

                     Swal.showValidationMessage('Invalid Account Number or Type');
                     console.log("1")

                }

                else if($("#accnum").val() < 300 && $("#accnum").val() > 199 && ($("#type").val() !== 'Current liabilities' || $("#type").val() != 'Non-current liabilities')){

                    Swal.showValidationMessage('Invalid Account Number or Type');
                    console.log("2")
                }

                  else if($("#accnum").val() < 400 && $("#accnum").val() > 299 && ($("#type").val() !== "Owner's equity")){
                    
                    Swal.showValidationMessage('Invalid Account Number or Type');
                    console.log("3")

                }

                 else if($("#accnum").val() < 500 && $("#accnum").val() > 399 && ($("#type").val() !== "Income")){
                    
                    Swal.showValidationMessage('Invalid Account Number or Type');
                    console.log("4")

                }


                else if($("#accnum").val() < 600 && $("#accnum").val() > 499 && ($("#type").val() !== "Expenses")){
                    
                    Swal.showValidationMessage('Invalid Account Number or Type');
                    console.log("5")

                }

                else if ($("#accnum").val() > 599){
                    Swal.showValidationMessage('Invalid Account Number or Type');
                    console.log("5")
                    
                }

                else{
                        let number = $("#accnum").val();
                let name = $("#accname").val();
                let type = $("#type").val();
                let detail = $("#detailed").val();

                $.ajax({
                        url: "/insertaccount",
                        type: 'POST',
                        data: {
                            number: number,
                            name: name,
                            type: type,
                            detail: detail,
                        },
                    })
                    .done(function(data) {
                        $('#chartofaccs > tbody:last-child').append(
                            `<tr>
                    <td>${number}</td>
                    <td>${name}</td>
                    <td>${type}</td>
                    <td>${detail}</td>
                    <td>$0</td>
                    <td>$0</td>
                   
                    
                    </tr>`);

                        Swal.fire({
                            icon: 'success',
                            title: 'Account Added',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        addaccount();
                    })
                    .fail(function(data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: `Something went wrong! ${data.responseText}`,
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                    })

                }


                

            } else {
                if (!$("#accnum").val()) {
                    Swal.showValidationMessage('Account Number Cannot Be Empty');
                } else if (!$("#accname").val()) {
                    Swal.showValidationMessage('Account Name Cannot Be Empty')
                } else if (!$("#type").val()) {
                    Swal.showValidationMessage('Account Type Cannot Be Empty')
                } else if (!$("#detailed").val()) {
                    Swal.showValidationMessage('Account Detail Cannot Be Empty')
                } else {
                    Swal.showValidationMessage('Inputs Cannot Be Empty')
                }



            }
        },
        allowOutsideClick: () => !Swal.isLoading()

    })
}
</script>
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <table style="width: 100%;" id="chartofaccs" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 137.2px;">ACCOUNT NUMBER</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 137.2px;">NAME</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 217.2px;">TYPE</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 98.2px;">DETAIL TYPE</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 48.2px;">DEBIT BALANCE</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: 48.2px;">CREDIT BALANCE</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}