{% extends "massage/includes.html" %}
{% block title %}
INCOME STATEMENT
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
The Companys Income Statement
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts%}
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h4 class="text-center">SELECT JOURNAL TO REPORT</h4>
                <form class="needs-validation" novalidate method="POST" action="{% url 'incomestatement' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <select name="journs" id="" required class="custom-select">
                            <option value="">SELECT JOURNAL</option>
                            {% for x in Journals %}
                            <option value="{{x.id}}">{{x.monthof}}</option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Journal!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="text-center">
            <h3>Tranquil Touch Massage</h3>
            <p><strong>Income Statement</strong></p>
            {% if Startdate is None %}
                {% for x in expenses %}
                    {% if forloop.first %}
                    <p>Journal # {{x.journalid.id}} Date: {{x.journalid.monthof}}</p>
                    {%endif%}
                {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
        </div>
        {% if income.all or expenses.all %}

        <table style="width: 100%;" class="table table-sm table-hover table-striped" role="grid">
            <thead>
                <tr role="row">
                    <th>
                        <h3><strong>Revenue</strong></h3>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr role="row">
                    <th>Particulars</th>
                    <th style="width: 250px;">MONTH</th>
                    <th>VALUES</th>
                </tr>
            </thead>
            <tbody id="incomebody">

                {% for x in income %}

                <tr>
                    <td>{{x.account_id.account_name}}</td>
                    <td>{{x.transaction_date}}</td>
                    <td >$ {{x.credits}}</td>
                </tr>
                {% endfor %}

                <tr role="row" class="odd">
                    <td tabindex="0" class="sorting_1"><strong>Gross Income</strong></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td><strong><u>${{incomecr}}</u></strong></td>
                </tr>

            </tbody>
            <thead>
                <tr role="row">
                    <th>
                        <h3><strong>Expenses</strong></h3>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="expensebody">
                {% for x in expenses %}
                <tr>
                    <td>{{x.account_id.account_name}}</td>
                    <td>{{x.transaction_date}}</td>
                    <td>${{x.debits}}</td>
                </tr>
                {% endfor %}

                <tr role="row" class="odd">
                    <td tabindex="0" class="sorting_1"><strong>Total Expense</strong></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td><strong><u>${{expensedr}}</u></strong></td>
                </tr>

                <tr role="row" class="odd">
                    <td tabindex="0" class="sorting_1"><strong>Net Income</strong></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td><strong style="border-bottom: double;">${{netincome}}</strong></td>
                </tr>

            </tbody>
        </table>
        {% else %}
        <h1 class="text-center">NO DATA TO SHOW</h1>
        {% endif %}
    </div>
</div>
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}