{% extends "massage/includes.html" %}
{% block title %}
JOURNAL
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
Journal Entry
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts %}
<script>


 $(document).ready(function() {
      $.ajaxSetup({
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    });
let maxid = parseInt('000'+'{{maxid.id}}')+1;
$('#journaltitle').html('Journal Number: '+maxid);



 });


var rowid = 1;

function removerow(id){
    $("#tr"+id).hide('slow',"linear",remove(id));
}
function remove(id){
    $('#tr'+id).remove();
}
        (function() {
            'use strict';
            window.addEventListener('load', function() {

                var forms = document.getElementsByClassName('needs-validation1');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                             form.classList.add('was-validated');
                        }
                        else{
                             event.preventDefault();
                             event.stopPropagation();
                             form.classList.add('was-validated');

                  var date =   $("#date").val();
                  var acName =   $("#account").val();
                  var debits =   $("#debits").val();
                  var credits =   $("#credits").val();
                  var desc =   $("#desc").val();
                  var acID  = parseFloat(acName);
                  var acName1 = acName.substring(3)
                  
                $('#journaltable > tbody:last-child').append(
                    `<tr role="row" class="odd" id="tr${rowid}">
                    <td>${date}</td>
                    <td>${acID}</td>
                    <td>${acName1}</td>
                    <td data-override="${debits}">$${debits}</td>
                    <td data-override="${credits}">$${credits}</td>
                    <td>${desc}</td>
                    <td><button class="btn btn-danger" onclick="removerow(${rowid})">DELETE</button></td>
                    </tr>`);

               $("#account").val('');
               $("#debits").val('');
               $("#credits").val('');
               $("#desc").val('');
                $("#date").val('');
                let  table = $('#journaltable').tableToJSON({ignoreColumns: [6]});
                            // Store
                            localStorage.setItem("Charts", JSON.stringify(table));
                            form.classList.remove("was-validated");
                            rowid++;
                            $("#journaltable").tableDnD();
                        }
                       
                    }, false);
                });
            }, false);
        })();

$('#submit-table').click( function() {
  var table = $('#journaltable').tableToJSON({ignoreColumns: [6]}); // Convert the table into a javascript object


console.log(JSON.stringify(table));
table1 = JSON.stringify(table);

$.ajax({
url: "/inserjournal",
type: 'POST',
data: {
json: table1,

},
})
.done(function(data) {
Swal.fire({
icon: 'success',
title: 'Journal Added',
showConfirmButton: false,
timer: 1500
})
$('#journaltable').find('tbody').detach();
$('#journaltable').append($('<tbody>'));  


})
.fail(function(data) {
Swal.fire({
icon: 'error',
title: 'Oops...',
text: `Something went wrong! ${data.responseText}`,
footer: '<a href>Why do I have this issue?</a>'
})
})

});
        </script>
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body">

        <h5 class="card-title">Product/Service Information</h5>
        <form class="needs-validation1" novalidate>
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Date</label>
                    <input id="date" data-toggle="datepicker-year" class="form-control input-mask-trigger" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" required im-insert="true" style="text-align: right;">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Account</label>
                    <select name="" class="custom-select" required id="account">
                        <option value="">Choose Account</option>
                        {% for x in chart %}
                        <option value="{{x.account_number}}{{x.account_name}}">{{x.account_number}} {{x.account_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationCustom02">Debits</label>
                    <input id="debits" class="form-control input-mask-trigger" data-inputmask="'alias': 'numeric', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'" required style="text-align: right;">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationCustomUsername">Credits</label>
                    <div class="input-group">
                        <input id="credits" class="form-control input-mask-trigger" data-inputmask="'alias': 'numeric', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'" required  style="text-align: right;">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom03">Description</label>
                    <input type="text" class="form-control" id="desc" placeholder="Description" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Insert</button>
        </form>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        
        <h5 class="card-title text-center" id="journaltitle">Journal Number </h5>
        
        <table style="width: 100%;" id="journaltable" class="table table-hover table-sm table-striped table-bordered " role="grid" cellspacing="0" cellpadding="2">
            <thead>
                <tr role="row">
                    <th data-override="date">DATE</th>
                    <th style="width: 150px !important;" data-override="accnum">ACCOUNT NUMBER</th>
                    <th style="width: 150px !important;" data-override="accname">ACCOUNT NAME</th>
                    <th style="width: 150px;" data-override="deb">DEBITS</th>
                    <th style="width: 150px;" data-override="cred">CREDITS</th>
                    <th data-override="des">DESCRIPTION</th>
                    <th style="width: 150px;">ACTION</th>
                </tr>
            </thead>
            <tbody id="tbodys">
            </tbody>
        </table>
        <button class="btn btn-primary" id="submit-table">SAVE</button>
    </div>
</div>
{% endblock %}