{% extends "massage/includes.html" %}
{% block title %}
LEDGER
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
The Companys Ledger
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h4 class="text-center">SELECT JOURNAL TO REPORT</h4>
                <form class="needs-validation" novalidate method="POST" action="{% url 'ledger' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <input autocomplete="off" type="text" name="startdate" class="form-control" required placeholder="Starting date" data-toggle="datepicker-year">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Input Starting Date!
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input autocomplete="off" type="text" name="enddate" class="form-control" required placeholder="End date" data-toggle="datepicker-year">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please Input End Date!
                            </div>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Invalid Input!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <select name="account" id="" required class="custom-select">
                            <option value="">SELECT ACCOUNT</option>
                            {% for x in chart %}
                            <option value="{{x.account_number}}">{{x.account_number}} {{x.account_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Invalid Input!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
  
        
        <div class="text-center">

            <h3>Tranquil Touch Massage</h3>
            <p><strong>General Ledger</strong></p>
            {% if Startdate is None %}
            {% for x in journals1 %}
            {% if forloop.first %}
            <p>Journal # {{x.journalid.id}} Date: {{x.journalid.monthof}}</p>
            {%endif%}
            {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
        </div>

        {% if journals %}

         <table style="width: 100%;" class="table table-hover table-striped table-bordered " role="grid">
            <thead>
                <tr role="row">
                    <th style="width: 70px;">Transaction date</th>
                    <th style="width: 20px !important;">Category</th>
                    <th style="width: 157px;">Particulars</th>
                    <th style="width: 67px;">Description</th>
                    <th style="width: 67px;">Account Number</th>
                    <th style="width: 67px;">Debit</th>
                    <th style="width: 67px;">Credit</th>
                    <th style="width: 67px;">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for x in journals %}
                <tr role="row" class="odd">
                    <td>{{x.transaction_date}}</td>
                    <td tabindex="0" class="sorting_1">{{x.account_type}}</td>
                    <td tabindex="0" class="sorting_1">{{x.account_name}}</td>
                    <td>{{x.account_detailtype}}</td>
                    <td>{{x.account_number}}</td>
                    <td>${{x.debits}}</td>
                    <td>${{x.credits}}</td>
                    <td>${{x.balance}}</td>
                </tr>
                {% endfor %}
                <tr role="row" class="odd" style="border-top: double;">
                    <td><strong>{{rowCount}}rows</strong></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td></td>
                    <td></td>
                    <td> <strong></strong></td>
                    <td><strong></strong></td>
                    <td><strong></strong></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}