{% extends "massage/includes.html" %}
{% block title %}
LEDGER
{% endblock %}

{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}

{% block pagetitlesubheading %}
The Companys Ledger
{% endblock %}


{% block reportsbtn %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <p>Report Period</p>
                <form class="needs-validation" novalidate method="POST" action="{% url 'ledger' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="startdate" id="firstday" class="form-control" required placeholder="Starting date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Starting Date!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="enddate" class="form-control" required placeholder="End date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input End Date!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
                </form>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h4 class="text-center">SELECT JOURNAL TO REPORT</h4>
                <form class="needs-validation" novalidate method="POST" action="{% url 'ledger' %}">

                    {% csrf_token %}
                    <div class="input-group mb-3">
                        
                        <select name="journs" id="" required class="custom-select">
                            <option value="">SELECT JOURNAL</option>
                            {% for x in Journals %}
                            <option value="{{x.id}}">{{x.datecreated}}</option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Invalid Input!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
            </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="text-center">
            <h3>Tranquil Touch Massage</h3>
            <p><strong>General Ledger</strong></p>
            {% if Startdate is None %}
                {% for x in journals %}
                    {% if forloop.first %}
                    <p>Journal # {{x.journalid.id}} Date: {{x.journalid.datecreated}}</p>
                    {%endif%}
                {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
            
        </div>
        {% if signs is None %}
        <h1 class="text-center">YOU CAN GENERATE REPORTS ABOVE</h1>
        {% else %}
        <table style="width: 100%;" class="table table-hover table-striped table-bordered " role="grid">
            <thead>
                <tr role="row">
                    <th style="width: 20px !important;">Category</th>
                    <th style="width: 157px;">Particulars</th>
                    <th style="width: 67px;">Description</th>
                    <th style="width: 67px;">Account Number</th>
                    <th style="width: 67px;">Debit</th>
                    <th style="width: 67px;">Credit</th>
                </tr>
            </thead>
            <tbody>

                {% for x in journals %}
                <tr role="row" class="odd">
                    <td tabindex="0" class="sorting_1">{{x.account_id.account_type}}</td>
                    <td tabindex="0" class="sorting_1">{{x.account_id.account_name}}</td>
                    <td>{{x.account_id.account_detailtype}}</td>
                    <td>{{x.account_id.account_number}}</td>
                    <td>${{x.debits}}</td>
                    <td>${{x.credits}}</td>
                </tr>
                {% endfor %}
                  <tr role="row" class="odd" style="border-top: double; border-bottom: double;">
                    <td tabindex="0" class="sorting_1"><strong>{{rowCount}}rows</strong></td>
                    <td tabindex="0" class="sorting_1"></td>
                    <td></td>
                    <td></td>
                    <td> <strong>${{debitstotal}}</strong></td>
                    <td><strong>${{creditstotal}}</strong></td>

                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<script>



(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>


{% endblock %}