{% extends "massage/includes.html" %}
{% block title %}
TRIAL BALANCE
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
The Companys Trial Balance
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts %}

<script>
  

</script>
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">

            <div class="col-md-12 col-lg-12 col-sm-12">
                <h4 class="text-center">SELECT REPORT PERIOD</h4>
                <form autocomplete="off" class="needs-validation" novalidate method="POST" action="{% url 'trialbalance' %}"> 

                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="startdate" class="form-control" required placeholder="Starting date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Starting Date!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="enddate" class="form-control" required placeholder="End date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input End Date!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
            </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="text-center">
            
            <h3>Tranquil Touch Massage</h3>
            <p><strong>TRIAL BALANCE</strong></p>
            {% if Startdate is None %}
                {% for x in journals %}
                    {% if forloop.first %}
                    <p>Journal # {{x.journalid.id}} Date: {{x.journalid.datecreated}}</p>
                    {%endif%}
                {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
        </div>

        {% if journals %}

        <table style="width: 100%;" class="table table-hover table-striped table-bordered " role="grid">
            <thead>
                <tr role="row">
                    <th >ACCOUNT NUMBER</th>
                    <th >PARTICULARS</th>
                    <th >DEBIT</th>
                    <th >CREDIT</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% for x in journals %}
                <tr>
                    <td>{{x.number}}</td>
                    <td>{{x.name}}</td>
                    <td >${{x.debits}}</td>
                    <td colspan="" rowspan="" headers="">${{x.credits}}</td>
                </tr>
                {% endfor %}
                <tr role="row" class="odd" style="border-top: dashed;">
                    <td tabindex="0" class="sorting_1"><strong>Totals</strong></td>
                    <td colspan="" rowspan="" headers=""></td>
                    <td>{{debitstotal}}</td>
                    <td colspan="" rowspan="" headers="">${{creditstotal}}</td>
                </tr>
            </tbody>
        </table>

       
        {% else %}
<h1 class="text-center">NO DATA TO SHOW</h1>
        {% endif %}
    </div>
</div>
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}