{% extends "massage/includes.html" %}
{% block title %}
TRIAL BALANCE
{% endblock %}
{% block pagetitle %}
Tranquil Touch Massage
{% endblock %}
{% block pagetitlesubheading %}
The Companys Trial Balance
{% endblock %}
{% block reportsbtn %}
{% endblock %}
{% block scripts %}

<script>
   $(document).ready(function() {
       loadbalance();
   });
function loadbalance() {
var totalasset = 0.00;
var debit = 0.00;
var credit = 0.00;
var totals = 0.00;
'{% for x in journals %}'
var debit1 = '{{x.account_debbalance}}';
var credit1 = '{{x.account_credbalance}}';
var total1 = '{{x.account_credbalance}}';
debit = debit + parseFloat(debit1);
credit = credit + parseFloat(credit1);
totals = totals + parseFloat(total1);
$('#tablebody').append(
`<tr>
<td>{{x.account_number}}</td>
<td>{{x.account_id.account_name}}</td>
<td >$ {{x.account_debbalance}}</td>
<td colspan="" rowspan="" headers="">$ {{x.account_credbalance}}</td>
<td colspan="" rowspan="" headers="">$ {{x.totals}}</td>
</tr>`
);

'{% if forloop.last %}'
$('#tablebody').append(
`<tr role="row" class="odd" style="border-top: dashed;">
<td tabindex="0" class="sorting_1"><strong>Totals</strong></td>
<td colspan="" rowspan="" headers=""></td>
<td>$${debit}</td>
<td colspan="" rowspan="" headers="">$${credit}</td>
<td colspan="" rowspan="" headers="">$${totals}</td>
</tr>`
);

'{% endif %}'
'{% endfor %}'
}

</script>
{% endblock %}
{% block body %}
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="row">

           <!--  <div class="col-md-6 col-lg-6 col-sm-12">
                <h4 class="text-center">SELECT REPORT PERIOD</h4>
                <form class="needs-validation" novalidate method="POST" action="{% url 'trialbalance' %}">

                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="startdate" class="form-control" required placeholder="Starting date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Starting Date!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="enddate" class="form-control" required placeholder="End date" data-toggle="datepicker-year">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input End Date!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
            </form>
            </div> -->
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h4 class="text-center">SELECT JOURNAL TO REPORT</h4>
                <form class="needs-validation" novalidate method="POST" action="{% url 'trialbalance' %}">

                    {% csrf_token %}
                    <div class="input-group mb-3">
                        
                        <select name="journs" id="" required class="custom-select">
                            <option value="">SELECT JOURNAL</option>
                            {% for x in Journals %}
                            <option value="{{x.id}}">{{x.datecreated}}</option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Input Journal!
                        </div>
                    </div>
                    <input type="submit" value="Run Report" class="btn btn-success">
            </form>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body table-responsive">
        <div class="text-center">
            
            <h3>Tranquil Touch Massage</h3>
            <p><strong>TRIAL BALANCE</strong></p>
            {% if Startdate is None %}
                {% for x in journals %}
                    {% if forloop.first %}
                    <p>Journal # {{x.journalid.id}} Date: {{x.journalid.datecreated}}</p>
                    {%endif%}
                {% endfor %}
            {% else %}
            <p>As of {{Startdate}} to {{Endate}}</p>
            {% endif %}
            <hr>
        </div>
        {% if journals.all %}

        <table style="width: 100%;" class="table table-hover table-striped table-bordered " role="grid">
            <thead>
                <tr role="row">
                    <th style="width: 20px !important;">ACCOUNT NUMBER</th>
                    <th style="width: 157px;">PARTICULARS</th>
                    <th style="width: 67px;">DEBIT</th>
                    <th style="width: 67px;">CREDIT</th>
                    <th style="width: 67px;">BALANCE</th>
                </tr>
            </thead>
            <tbody id="tablebody">
            </tbody>
        </table>

       
        {% else %}
<h1 class="text-center">NO DATA TO SHOW</h1>
        {% endif %}
    </div>
</div>
<script>
(function() {
    'use strict';
    window.addEventListener('load', function() {

        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}